html
{
    color: white;
    background-color: rgb(68, 3, 68);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-link
{
    color: white;
    text-decoration: none;
}

.underline
{
    text-decoration: underline;
}

.container-header
{
    height: 10vh;
    text-align: center;
}

.container-main
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 66vh;
    gap: 10px;
}

.container-footer
{
    padding: 0px 20px;
    text-align: right;
}

.item
{
    max-width: 250px;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgb(143, 60, 221);
}

.text-grey
{
    color: #bbb;
}

.text-size-small
{
    font-size: 60%;
}

@media (max-width: 900px)
{
    .container-main
    {
        display: flex;
        flex-direction: column;
        min-height: 0;
    }
}