html
{
    color: white;
    background-color: rgb(68, 3, 68);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link
{
    color: white;
}

.container-header
{
    height: 10vh;
    text-align: center;
}

.container-main
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    gap: 10px;
}

.container-footer
{
    padding: 0px 20px;
    text-align: right;
}

.item
{
    padding: 1rem;
    border-radius: 20px;
    background-color: rgb(143, 60, 221);
}

@media (max-width: 600px)
{
    .container-main
    {
        flex-direction: column;
    }
}