html
{
    color: white;
    background-color: rgb(53, 0, 53);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1
{
    font-size: 40px;
    text-align: center;
    padding: 0;
    margin: 20px;
}

p
{
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 150%;
}

.container-main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border-radius: 20px;
    background-color: rgb(140, 13, 151);
}

.container-sub
{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    margin: 2rem;
    border-radius: 20px;
    z-index: 1;
    background-color: rgb(140, 13, 151);
    /* border: 1rem;
    border-color: white; */
}

.container-sub-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.container-generation-row
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.container-generation-setting-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: rgb(53, 0, 53);
    border-radius: 10px;
}

.container-generation-setting-buttons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.container-list
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-bottom: 50vh;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgb(100, 0, 100);
}

button
{
    color: white;
    background-color: green;
    border-width: 0;
    border-radius: 10px;
    padding: 20px;
}
button:hover
{
    color: black;
    background-color: lime;
}
button:active
{
    color: white;
    background-color: darkgreen;
}

.button-bottom
{
    padding: 30px;
    margin: 0 1rem;
}

#button-generate
{
    background-color: darkgoldenrod;
}
#button-generate:hover
{
    color: black;
    background-color: yellow;
}
#button-generate:active
{
    background-color: rgb(112, 84, 13);
}

#button-reset
{
    background-color: darkblue;
}
#button-reset:hover
{
    color: white;
    background-color: blue;
}
#button-reset:active
{
    background-color: rgb(2, 2, 56);
}

.text-setting
{
    font-size: 250%;
}

@media (max-width: 800px)
{
    h1
    {
        margin: 10px;
        font-size: 24px;
    }

    h2
    {
        font-size: 16px;
    }

    p
    {
        font-size: 120%;
    }

    .container-main
    {
        margin: 1rem;
    }

    .container-generation-row
    {
        gap: 10px;
        padding: 10px;
    }
    
    .container-generation-setting-card
    {
        gap: 5px;
        padding: 8px;
    }
    
    .container-generation-setting-buttons
    {
        gap: 5px;
    }

    .container-list
    {
        margin: 1rem;
        margin-bottom: 50vh;
    }

    .container-sub
    {
        margin: 0;
        border-radius: 0;
    }

    button
    {
        border-radius: 10px;
        padding: 15px;
    }

    .button-bottom
    {
        padding: 20px;
        margin: 0 0;
    }
}